name: CI build
permissions: read-all
concurrency:
  cancel-in-progress: true
  group: ${{ github.actor }}

# Controls when the action will run.
on:
  push:
    # branches: [ upstream-pr ]
  pull_request:
    # branches: [ master ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: cachix/install-nix-action@v31
      with:
        github_access_token: ${{ secrets.GITHUB_TOKEN }}
    - run: nix build -v -L
    - run: nix flake check -v -L

